:root{
    --color-principal: rgb(17, 3, 43);
    --color-secundario: rgb(201, 248, 228);
    --color-terciario:  rgba(202, 255, 252, 0.7);
	--color-cuarto: rgb(49, 0, 0);
	--color-quinto: #ffffff; 
	--color-sombra: #41a2ce29;
}

/* clear para evitar que todos los elementos queden "flotantes" */
.clear {
	clear: both;
}

/* formato de todos los elementos para que no tengan atributos por default */
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

html,body {
	font-family: 'Open Sans', sans-serif;
	background: var(--color-secundario);
	font-size: 100%;
}

.sombra{
	box-shadow: -10px 10px 50px var(--color-sombra);
}

.sombra-lg{
	box-shadow: 0px 10px 150px var(--color-sombra);
}




/* -------------------------------------------------MENU ---------- NAV-BAR ---------------------------------------------------------------- */
.header {
	background: var(--color-principal);
	padding: 1.5% 0;
}

.header-left {
	float: left;
	width: 59%;
}

/* margin right con 2% para que sea responsive */
.logo {
	float: left;
	margin-right: 2%;
}

.menu {
	float: left;
	margin: 17px 0 0;
}

.menu li {
	display: inline-block;
}

.menu li:first-child {
	margin-left: 0;
}

.menu li a {
	font-size: 0.8125em;
	text-transform: uppercase;
	padding: 5px 20px;
	color: var(--color-quinto);
	transition: all 0.3s ease;
	font-weight: 600;
	text-decoration: none;
}

.menu li a:hover,
.menu li.active a {
	border-radius: 20px;
	background: var(--color-terciario);
	color: var(--color-cuarto);
}

#nav .current a {
	color: red;
}





/*----------------------------------------------SECCION LIBROS-------------------PUNTUACIONES Y ETIQUETAS-----------------------------------------------------------------*/
.book_top {
	padding: 5% 0;
}

.new-box {
	right: 10px;
}

.new-box,
.lectura-box {
	position: absolute;
	top: 16px;
	overflow: hidden;
	height: 40px;
	min-width: 80px;
	text-align: left;
	z-index: 0;
	display: inline-block;
	transform: rotate(-90deg);
}

.new-label {
	font-size: 0.85em;
	color: #FFF;
	background: #37963f;
	text-transform: uppercase;
	padding: 9px;
	text-align: center;
	display: block;
	min-width: 80px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

.lectura-box {
	left: 10px;
}

.lectura-label {
	font-size: 0.85em;
	color: #FFF;
	background: #E92546;
	text-transform: uppercase;
	padding: 9px;
	text-align: center;
	display: block;
	min-width: 70px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.book_box {
	position: relative;
}

.book_desc {
	border: 1px solid #E0E0E0;
	padding: 5%;
}

.book_desc h3 {
	margin-bottom: 5px;
}

.book_desc h3 a {
	color: #333;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}

.book_desc h3 a:hover {
	color: #666;
}

.book_desc p {
	color: #555;
	font-size: 0.8125em;
	line-height: 1.8em;
	margin-bottom: 10px;
}

span.reducedfrom {
	text-decoration: line-through;
	margin-right: 8%;
	color: #888;
}

span.actual {
	color: #7DB122;
	font-size: 1em;
	color: #000
}

ul.buttons {
	list-style: none;
	padding: 0;
	margin-top: 10px;
}

.cart {
	float: left;
}

.book_btn {
	float: right;
}

.book_btn a,
.cart a {
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
}

.book_btn a:hover {
	color: #E92546;
}

.cart a:hover {
	color: #FFAF02;
}

.book_box-top {
	margin-bottom: 5%;
}





/*---------------------------------------------------------FOOTER---------------------INPUT DE MENSAJERIA-------------------------------------------------------*/
.footer {
	background: var(--color-principal);
	padding: 5% 0;
}

ul.footer_box {
	list-style: none;
	padding: 0;
}

ul.footer_box h4 {
	color: var(--color-secundario);
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 8%;
}

ul.footer_box li a {
	color: #85e9f0;
	font-size: 0.8125em;
	text-decoration: none;
	line-height: 2em;
}

ul.footer_box li a:hover {
	color: #fff;
}

.footer_search {
	margin-top: 10%;
	width: 100%;
	position: relative;
}

.footer_search input[type="text"] {
	outline: none;
	padding: 12px 15px;
	color: #202020;
	background: #FFF;
	border: none;
	width: 74%;
	line-height: 1.5em;
	font-size: 0.8125em;
}

.footer_search input[type="submit"] {
	background: #C7C7C7;
	padding: 9px 19px;
	border: none;
	cursor: pointer;
	position: absolute;
	line-height: 1.6em;
	font-size: 1em;
	color: #000;
	font-weight: 800;
	outline: none;
	transition: all 0.3s;
}

.footer_search input[type="submit"]:hover {
	background: #222;
	color: #fff;
}

ul.social {
	list-style: none;
	padding: 0;
	margin-top: 17%;
}

ul.social li:first-child,
ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}

ul.social li {
	display: inline-block;
	margin-right: 8px;
}

ul.social li a span:hover {
	opacity: 0.5;
}

li.facebook a span {
	height: 30px;
	width: 30px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -256px -276px;
}

li.twitter a span {
	height: 30px;
	width: 30px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -298px -276px;
}

li.instagram a span {
	height: 30px;
	width: 30px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -346px -276px;
}

li.pinterest a span {
	height: 30px;
	width: 30px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -391px -276px;
}

li.youtube a span {
	height: 30px;
	width: 55px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -437px -276px;
}





/*######################################################...DESCRIPCION_LIBROS.HTML...######################################################*/

#tf-header {
    padding: 20px 0;
    color: #ffffff;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    margin-left: -10px;
    margin-top: -10px;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #FFF;
    content: "/\00a0";
}
.breadcrumb > li a { color: #ffffff }

#tf-works { padding: 60px 0 }

#tema-sinopsis{
    padding: 50px 0 
}

.section-header {
    padding: 10px 0;
    text-align: center;
}

.section-header h2 { text-transform: uppercase }
.section-header h5 { letter-spacing: 4px }
.section-header strong {color: #002903;}

.separador span {
    position: relative;
}
.separador span:before,
.separador span:after {
    content: "";
    position: absolute;
    height: 4px;
    border-bottom: 1px solid var(--color-principal);
	box-shadow: 5px 5px 70px var(--color-cuarto);
    top: 15px;
    width: 30vw;
}
.separador span:before {
    right: 100%;
    margin-right: 10px;
}
.separador span:after {
    left: 100%;
    margin-left: 10px;
}
.separador img{
	width: 15%;
}

.puntuacion{
	height: fit-content;
}
/*--------------------- formulario contacto --------------------*/
