{% load static %}

<footer class="footer">

    <div class="container">

        <div class="row">

            <div class="col-md-3">

                <ul class="footer_box">
                    <h4>Generos</h4>
                    <li><a href="#">Terror</a></li>
                    <li><a href="#">Aventura</a></li>
                    <li><a href="#">Ciencia Ficcion</a></li>
                </ul>
                
            </div>
            
            <div class="col-md-3">

                <ul class="footer_box">
                    <h4>About</h4>
                    <li><a href="{% url 'equipo' %}">Nuestro equipo</a></li>
                    <li><a href="#">Soporte</a></li>
                    <li><a href="{% url 'contacto' %}">Contacto</a></li>
                </ul>

            </div>

            <div class="col-md-3">

                <ul class="footer_box">
                    <h4>Destacados</h4>
                    <li><a href="#">Rapida Lectura</a></li>
                    <li><a href="#">Tecnologia y Libros</a></li>
                    <li><a href="#">Bibliografias</a></li>
                    <li><a href="#">Autores</a></li>
                </ul>

            </div>

            <div class="col-md-3">

                <ul class="footer_box">

                    <h4>¿Boletin Informativo?</h4>

                    <div>
                       <form>
                        <input type="text" value="ingresa tu email">
                        <input type="submit" value="Sip!">
                       </form>
                    </div>

                    <ul class="social">	

                      <li class="facebook">	 <a href="#"> <span> </span> </a> </li>
                      <li class="twitter">	 <a href="#"> <span> </span> </a> </li>
                      <li class="instagram"> <a href="#"> <span> </span> </a> </li>	
                      <li class="pinterest"> <a href="#"> <span> </span> </a> </li>	
                      <li class="youtube">	 <a href="#"> <span> </span> </a> </li>

                    </ul>
                    
                </ul>

            </div>

        </div>

    </div>

</footer>