{% load static %}
<div class="header">

	<div class="container">

		<div class="row">
			<div class="col-md-12">

				<div class="header-left">

					<div class="logo">
						<a href="#"><img src="{% static 'img/logo.png' %}" alt=""/></a>
					</div>

					<div class="menu">

						<ul class="nav" id="nav">

							<li class="current"><a href="{% url 'index' %}">libros</a></li>
							<li><a href="{% url 'favoritos' %}">favoritos</a></li>
							<li><a href="{% url 'reseñas' %}">Reseñas</a></li>
							<li><a href="#">Pendientes</a></li>	

							<div class="clear">
                            </div>
						</ul>
				    </div>	
					
					<div class="d-flex">
						<div class="p-1">
							{% include 'layouts/partials/buscador.html' %}
						</div>
						<button id="lupa" class="btn btn-outline-success" onmouseover="desplegarBuscador()" onclick="cierreBuscador()">
						</button>
					</div>
    	    	</div>

      		</div>

	 	</div>

    </div>
    
</div>
