{% load static %}
<div class="header">

	<div class="container">

		<div class="row">
			<div class="col-md-12">

				<div class="header-left">

					<div class="logo">
						<a href="#"><img src="{% static 'img/logo.png' %}" alt=""/></a>
					</div>

					<div class="menu">

						<ul class="nav" id="nav">

							<li class="current"><a href="{% url 'index' %}">libros</a></li>
							<li><a href="#">favoritos</a></li>
							<li><a href="{% url 'reseñas' %}">Reseñas</a></li>
							<li><a href="#">Pendientes</a></li>	

							<div class="clear">
                               </div>
						</ul>

				    </div>	

    			    <div class="clear">

                    </div>
    	    	</div>

      		</div>

	 	</div>

    </div>
    
</div>
