{% load static %}
<div class="container mb-5 sombra-lg rounded bg-translucido">
    <div class="row">
        <h1 class="display-4 text-center text-success m-3"> <strong> Opiniones de los lectores </strong></h1>
        <div class="col-md-4 puntuacion sombra rounded">
            <h1>Opinion media</h1>
            <h2>puntaje: 4/5</h2>
        </div>
        <div class="col-md-6">
            
            {% for usuario in usuarios %}
                <div class="container mb-5 sombra-lg rounded bg-translucido">
                    <div class="row">
                        <img class="col-2" src="{% static '/img/sinopsis/users.png' %}" alt="">
                        <h5 class="col-10">{{usuario.usuario_nombre}}</h5>
                    </div>
                    <p><em>{{usuario.usuario_critica_libro}}</em></p>
                    <span>puntuacion: {{usuario.usuario_puntuacion_libro}}/5</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
