{% load static %}
<div class="container mb-5 sombra-lg">
    <div class="row">
        
        <h1 class="display-6 text-center">Libros relacionados</h1>

        {% for relacionado in relacionados %}
        <a class="col-3 col-md-2" href="#">
            <div class="sombra">
                <img class="img-fluid" src="{% static 'img/sinopsis/'|add:libro_relacionado.imagen|add:'.jpg' %}" alt="">
                <h6 class="text-secondary">{{libro_relacionado.titulo}}</h6>
            </div>
        </a>
        {% endfor %}

    </div>
</div>