{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

    <div class="container">
        <div class="row mb-5">
            <div class="col text-success text-center">
                <img src="{% static 'img/' %}" alt="">
                <h1 class="display-3">Audiolibros</h1>
                <div class="">
                    <span><hr></span>
                        <h2 class="display-4">sitios web que recomendamos</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-md-5  mt-3 mb-5">
                <div class="borde-box">
                    <div class="borde-box audiolibro-box-img">
                        <h2 class="display-5 p-1 text-center">Ivoox</h2>
                        <img class="rounded" src="{% static 'img/audiolibros/ivoox.jpg' %}" alt="">
                        <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, consectetur saepe sequi magni obcaecati dicta earum repellat fuga eos eligendi sunt vel, optio, officia ad incidunt sit harum! Incidunt, eos deserunt! Animi corrupti rem, dolorum labore voluptatibus laborum placeat ipsam provident repellat minus ex neque, praesentium cumque pariatur voluptatum quisquam amet, exercitationem.</p>
                        <h6 class="text-center p-2">Sitio web: <a href="https://ar.ivoox.com/en/audiolibros_sb.html?sb=audiolibros">Ivoox</a></h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-md-5  mt-3 mb-5">
                <div class="borde-box">
                    <div class="borde-box audiolibro-box-img">
                        <h2 class="display-5 p-1 text-center">Sonolibros</h2>
                        <img class="rounded" src="{% static 'img/audiolibros/sonolibros.jpg' %}" alt="">
                        <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, consectetur saepe sequi magni obcaecati dicta earum repellat fuga eos eligendi sunt vel, optio, officia ad incidunt sit harum! Incidunt, eos deserunt! Animi corrupti rem, dolorum labore voluptatibus laborum placeat ipsam provident repellat minus ex neque, praesentium cumque pariatur voluptatum quisquam amet, exercitationem.</p>
                        <h6 class="text-center p-2">Sitio web: <a href="https://www.sonolibro.com/">Sonolibros</a></h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-md-5  mt-3 mb-5">
                <div class="borde-box">
                    <div class="borde-box audiolibro-box-img">
                        <h2 class="display-5 p-1 text-center">Internet Archive</h2>
                        <img class="rounded" src="{% static 'img/audiolibros/internetarchivo.jpg' %}" alt="">
                        <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, consectetur saepe sequi magni obcaecati dicta earum repellat fuga eos eligendi sunt vel, optio, officia ad incidunt sit harum! Incidunt, eos deserunt! Animi corrupti rem, dolorum labore voluptatibus laborum placeat ipsam provident repellat minus ex neque, praesentium cumque pariatur voluptatum quisquam amet, exercitationem.</p>
                        <h6 class="text-center p-2">Sitio web: <a href="https://archive.org/search.php?query=audiolibros&sin=">Internet Archive</a></h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-md-5  mt-3 mb-5">
                <div class="borde-box">
                    <div class="borde-box audiolibro-box-img">
                        <h2 class="display-5 p-1 text-center">Librivox</h2>
                        <img class="rounded" src="{% static 'img/audiolibros/librivox.jpg' %}" alt="">
                        <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, consectetur saepe sequi magni obcaecati dicta earum repellat fuga eos eligendi sunt vel, optio, officia ad incidunt sit harum! Incidunt, eos deserunt! Animi corrupti rem, dolorum labore voluptatibus laborum placeat ipsam provident repellat minus ex neque, praesentium cumque pariatur voluptatum quisquam amet, exercitationem.</p>
                        <h6 class="text-center p-2">Sitio web: <a href="https://librivox.org/">Librivox</a></h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-md-5  mt-3 mb-5">
                <div class="borde-box">
                    <div class="borde-box audiolibro-box-img">
                        <h2 class="display-5 p-1 text-center">Audiolibro</h2>
                        <img class="rounded" src="{% static 'img/audiolibros/audiolibro.jpg' %}" alt="">
                        <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, consectetur saepe sequi magni obcaecati dicta earum repellat fuga eos eligendi sunt vel, optio, officia ad incidunt sit harum! Incidunt, eos deserunt! Animi corrupti rem, dolorum labore voluptatibus laborum placeat ipsam provident repellat minus ex neque, praesentium cumque pariatur voluptatum quisquam amet, exercitationem.</p>
                        <h6 class="text-center p-2">Sitio web: <a href="https://audio-libro.com/">Audiolibro</a></h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-md-5  mt-3 mb-5">
                <div class="borde-box">
                    <div class="borde-box audiolibro-box-img">
                        <h2 class="display-5 p-1 text-center">Spotify</h2>
                        <img class="rounded" src="{% static 'img/audiolibros/spotify.jpg' %}" alt="">
                        <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, consectetur saepe sequi magni obcaecati dicta earum repellat fuga eos eligendi sunt vel, optio, officia ad incidunt sit harum! Incidunt, eos deserunt! Animi corrupti rem, dolorum labore voluptatibus laborum placeat ipsam provident repellat minus ex neque, praesentium cumque pariatur voluptatum quisquam amet, exercitationem.</p>
                        <h6 class="text-center p-2">Sitio web: <a href="https://open.spotify.com/search/audiolibros">Spotify</a></h6>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}