{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
    <div id="tf-header" class="bg-success">
        <div class="container">
            <h1>Nuestro equipo</h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>Nuestro equipo</li>
            </ol>
        </div>
    </div>

    <div id="tf-works" class="work-detail">
        <div class="container">
            <div class="section-header">
                <h2 class=><span><strong>Grupo 7 Comisión 228020</strong></span></h2>
                <hr>
                <div class="descripcion_tp">
                    <h5 id= "title_biblioteca" class="display-6 text-secondary"><em>BIBLIOTECA VIRTUAL</em></h5>
                    <h6>La Biblioteca Virtual es un proyecto grupal creado con el Framework Django, además de otras tecnologías.</h6>
                    <h6>El proyecto busca cumplir con los siguientes objetivos:</h6>
                        <ul class="m-3">
                            <li>Alta, baja y modificación de libros (con autenticación de por medio).</li>
                            <li>Búsqueda, visualización de libros y reseñas, comentar sobre libros puntuales.</li>
                            <li>Libros categorizados a través de etiquetas para poder ubicar libros por género o autor.</li>
                        </ul>
                    </h4>
                </div>
            </div>
        </div>

        <div id="integrantes">
            <h5><strong><em>Integrantes: </em></strong></h5>                        
                <div class="tarjetas">
                    <ul>
                        <li><img class="imagen_equipo" src= "{% static 'img/sdamatuk.png' %}"></li>
                    <div class="persona">
                        <li>Fernando Matuk</li>
                        <li><a href="https://github.com/sdamatuk">Github</a></li>
                    </div>
                    </ul>
                    <ul>
                        <li><img class="imagen_equipo" src= "{% static 'img/matiasbarriosled.jpg' %}"></li>
                    <div class="persona">
                        <li>Matias Barrios</li>
                        <li><a href="https://github.com/matiasbarriosled">Github</a></li>
                    </div>
                    </ul>
                    <ul>
                        <li><img class="imagen_equipo" src= "{% static 'img/edybarbe.jpg' %}"></li>
                    <div class="persona">
                        <li>Edy</li>
                        <li><a href="https://github.com/edybarbe">Github</a></li>
                    </div>
                    </ul>
                    <ul>
                        <li><img class="imagen_equipo" src= "{% static 'img/fsarvi.jpg' %}"></li>
                    <div class="persona">
                        <li>Fátima Sarvi</li>
                        <li><a href="https://github.com/fsarvi">Github</a></li>
                    </div>
                    </ul>
                    <ul>
                        <li><img class="imagen_equipo" src= "{% static 'img/mardigan123.jpg' %}"></li>
                    <div class="persona">    
                        <li>María Páez</li>
                        <li><a href="https://github.com/Mardigan123">Github</a></li>
                    </div>
                    </ul>
                </div>           
        </div>
{% endblock content %}