{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div id="tf-header" class="bg-success">
    <div class="container">
        <h1>Reseñas</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Reseñas</li>
        </ol>
    </div>
</div>

<main class="container pb-5">

    <div class="row mb-5 sombra">
        <div class="col-12 p-1 p-md-3 p-lg-3 sombra-lg">
            <h1 class="display-6 text-success"><strong> Tendencia</strong></h1>
            <h1 class="display-6 text-success">Los <strong> mas leidos</strong></h1>
        </div>
        
    </div>

    <div class="col-12 mb-5 grid-reseña">
        <div class="reseña-box bg-translucido posted">
            <div class="rb-item rb-img">
                <img src="{% static 'img/pic11.jpg' %}" alt="">
            </div>
            <div class="rb-item rb-title">
                <a href="{% url 'entradareseña' %}"><h5 class="text-success">El intercambio</h5></a>
            </div>
            <div class="rb-text">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam in quia similique soluta ducimus illo dolore, dignissimos, modi saepe architecto facilis incidunt itaque aut </p>
            </div>
            <div class="rb-item rb-iconos">
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/hearth.png' %}" alt="">
                    <h6 class="text-success">340</h6>
                </a>
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/comentario.png' %}" alt="">
                    <h6 class="text-success">99</h6>
                </a>
            </div>
        </div>

        <div class="reseña-box bg-translucido posted">
            <div class="rb-item rb-img">
                <img src="{% static 'img/pic12.jpg' %}" alt="">
            </div>
            <div class="rb-item">
                <a href="{% url 'entradareseña' %}"><h5 class="text-success">Dune</h5></a>
            </div>
            <div class="rb-text">
                <p>beatae vel eos dolorum iure? Quisquam cupiditate mollitia, ea voluptates doloremque necessitatibus, vero vitae autem velit quas natus voluptas amet cumque. Repudiandae </p>
            </div>
            <div class="rb-item rb-iconos">
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/hearth.png' %}" alt="">
                    <h6 class="text-success">340</h6>
                </a>
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/comentario.png' %}" alt="">
                    <h6 class="text-success">99</h6>
                </a>
            </div>
        </div>

        <div class="reseña-box bg-translucido posted">
            <div class="rb-item rb-img">
                <img src="{% static 'img/pic13.jpg' %}" alt="">
            </div>
            <div class="rb-item">
                <a href="{% url 'entradareseña' %}"><h5 class="text-success">El gato negro</h5></a>
            </div>
            <div class="rb-text">
                <p>blanditiis praesentium vero. Ipsam totam, magni quos natus provident commodi obcaecati. Autem voluptas porro, totam eligendi, at deleniti alias perspiciatis consequatur aperiam </p>
            </div>
            <div class="rb-item rb-iconos">
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/hearth.png' %}" alt="">
                    <h6 class="text-success">340</h6>
                </a>
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/comentario.png' %}" alt="">
                    <h6 class="text-success">99</h6>
                </a>
            </div>
        </div>

        <div class="reseña-box bg-translucido posted">
            <div class="rb-item rb-img">
                <img src="{% static 'img/pic14.jpg' %}" alt="">
            </div>
            <div class="rb-item">
                <a href="{% url 'entradareseña' %}"><h5 class="text-success">Perdida</h5></a>
            </div>
            <div class="rb-text">
                <p>facilis incidunt iusto reiciendis. Laborum quam deserunt asperiores ut. Neque voluptates excepturi dignissimos facere? Nam dolore magni molestias quis odio pariatur doloremque </p>
            </div>
            <div class="rb-item rb-iconos">
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/hearth.png' %}" alt="">
                    <h6 class="text-success">340</h6>
                </a>
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/comentario.png' %}" alt="">
                    <h6 class="text-success">99</h6>
                </a>
            </div>
        </div>

        <div class="reseña-box bg-translucido posted">
            <div class="rb-item rb-img">
                <img src="{% static 'img/pic15.jpg' %}" alt="">
            </div>
            <div class="rb-item">
                <a href="{% url 'entradareseña' %}"><h5 class="text-success">El tunel</h5></a>
            </div>
            <div class="rb-text">
                <p>voluptatibus consequatur fuga soluta velit et nesciunt, necessitatibus laboriosam veritatis libero ducimus optio esse maxime! Dicta harum saepe autem est laudantium, vitae </p>
            </div>
            <div class="rb-item rb-iconos">
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/hearth.png' %}" alt="">
                    <h6 class="text-success">340</h6>
                </a>
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/comentario.png' %}" alt="">
                    <h6 class="text-success">99</h6>
                </a>
            </div>
        </div>

        <div class="reseña-box bg-translucido posted">
            <div class="rb-item rb-img">
                <img src="{% static 'img/pic16.jpg' %}" alt="">
            </div>
            <div class="rb-item">
                <a href="{% url 'entradareseña' %}"><h5 class="text-success">El lector de cadaveres</h5></a>
            </div>
            <div class="rb-text">
                <p>magnam ipsam suscipit pariatur illum enim. Dignissimos incidunt, repellendus mollitia commodi nobis tempora dolore minus perspiciatis. Aut beatae distinctio ullam voluptates </p>
            </div>
            <div class="rb-item rb-iconos">
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/hearth.png' %}" alt="">
                    <h6 class="text-success">340</h6>
                </a>
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/comentario.png' %}" alt="">
                    <h6 class="text-success">99</h6>
                </a>
            </div>
        </div>

    </div>


    <div class="row sombra mb-5">
        <div class="col-12 p-1 p-md-3 p-lg-5 sombra-lg">
            <h1 class="display-6 text-success"> <strong> Ultimos <br> publicados</strong></h1>
        </div>
          
        
    </div>

    <div class="col-12 mb-5 grid-reseña">
        <div class="reseña-box bg-translucido posted">
            <div class="rb-item rb-img">
                <img src="{% static 'img/sinopsis/reinasabismo.jpg' %}" alt="">
            </div>
            <div class="rb-item">
                <a href="{% url 'entradareseña' %}"><h5 class="text-success">Reinas del abismo</h5></a>
            </div>
            <div class="rb-text">
                <p>quasi alias vero. Aperiam praesentium rerum odio quis, cumque maxime velit iste consequuntur pariatur officia ipsa labore explicabo hic cum ut minima! Eum dignissimos reiciendis </p>
            </div>
            <div class="rb-item rb-iconos">
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/hearth.png' %}" alt="">
                    <h6 class="text-success">340</h6>
                </a>
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/comentario.png' %}" alt="">
                    <h6 class="text-success">99</h6>
                </a>
            </div>
        </div>

        <div class="reseña-box bg-translucido posted">
            <div class="rb-item rb-img">
                <img src="{% static 'img/sinopsis/kaiki.jpg' %}" alt="">
            </div>
            <div class="rb-item">
                <a href="{% url 'entradareseña' %}"><h5 class="text-success">kaiki: cuentos de terror y locura</h5></a>
            </div>
            <div class="rb-text">
                <p>vero perspiciatis sunt porro? Minus quo aut nisi. Dolores deleniti facere dicta aliquid, commodi porro corporis eligendi vero explicabo doloribus quo hic, quia, cupiditate </p>
            </div>
            <div class="rb-item rb-iconos">
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/hearth.png' %}" alt="">
                    <h6 class="text-success">340</h6>
                </a>
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/comentario.png' %}" alt="">
                    <h6 class="text-success">99</h6>
                </a>
            </div>
        </div>

        <div class="reseña-box bg-translucido posted">
            <div class="rb-item rb-img">
                <img src="{% static 'img/sinopsis/buenhijo.jpg' %}" alt="">
            </div>
            <div class="rb-item">
                <a href="{% url 'entradareseña' %}"><h5 class="text-success">El buen hijo</h5></a>
            </div>
            <div class="rb-text">
                <p>laudantium officia libero! Doloremque officia, nemo id quod voluptate libero eaque dicta tempora non quidem dolorum quibusdam totam culpa. Eos, laboriosam. Voluptates corrupti </p>
            </div>
            <div class="rb-item rb-iconos">
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/hearth.png' %}" alt="">
                    <h6 class="text-success">340</h6>
                </a>
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/comentario.png' %}" alt="">
                    <h6 class="text-success">99</h6>
                </a>
            </div>
        </div>

        <div class="reseña-box bg-translucido posted">
            <div class="rb-item rb-img">
                <img src="{% static 'img/sinopsis/malossueños.jpg' %}" alt="">
            </div>
            <div class="rb-item">
                <a href="{% url 'entradareseña' %}"><h5 class="text-success">El bazar de los malos sueños</h5></a>
            </div>
            <div class="rb-text">
                <p>nam velit impedit enim veritatis vero magnam, rerum pariatur ea labore alias eius nihil quidem, nemo laborum? Voluptatem libero maiores aut dolor illo ipsum neque similique, </p>
            </div>
            <div class="rb-item rb-iconos">
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/hearth.png' %}" alt="">
                    <h6 class="text-success">340</h6>
                </a>
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/comentario.png' %}" alt="">
                    <h6 class="text-success">99</h6>
                </a>
            </div>
        </div>

        <div class="reseña-box bg-translucido posted">
            <div class="rb-item rb-img">
                <img src="{% static 'img/sinopsis/habitacionnona.jpg' %}" alt="">
            </div>
            <div class="rb-item">
                <a href="{% url 'entradareseña' %}"><h5 class="text-success">La habitacion de Nona</h5></a>
            </div>
            <div class="rb-text">
                <p>quidem mollitia quaerat odit, alias error? Expedita eum repudiandae eaque, fugiat deleniti ipsa harum id voluptatum necessitatibus iusto officia tempore suscipit a omnis dolores </p>
            </div>
            <div class="rb-item rb-iconos">
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/hearth.png' %}" alt="">
                    <h6 class="text-success">340</h6>
                </a>
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/comentario.png' %}" alt="">
                    <h6 class="text-success">99</h6>
                </a>
            </div>
        </div>

        <div class="reseña-box bg-translucido posted">
            <div class="rb-item rb-img">
                <img src="{% static 'img/sinopsis/reinagrito.jpg' %}" alt="">
            </div>
            <div class="rb-item">
                <a href="{% url 'entradareseña' %}"><h5 class="text-success">Reina del grito</h5></a>
            </div>
            <div class="rb-text">
                <p>repellendus commodi, distinctio asperiores culpa quidem! Totam cumque illum natus alias obcaecati iusto maxime illo voluptatibus, velit doloribus beatae libero accusamus quos </p>
            </div>
            <div class="rb-item rb-iconos">
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/hearth.png' %}" alt="">
                    <h6 class="text-success">340</h6>
                </a>
                <a class="p-2" href="">
                    <img src="{% static 'img/reseñas/comentario.png' %}" alt="">
                    <h6 class="text-success">99</h6>
                </a>
            </div>
        </div>

    </div>

</main>



{% endblock content %}