{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
    

    <div id="tf-header" class="bg-success">
        <div class="container">
            <h1>Sinopsis</h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>Sinopsis</li>
            </ol>
        </div>
    </div>

    <div id="tf-works" class="work-detail">
        <div class="container">
            <div class="section-header">
                <h2 class="">Detalles del libro: <span><strong>{{libro_seleccionado.0}}</strong></span></h2>
                <h5><em><blockquote>{{libro_seleccionado.11}}</blockquote> - {{libro_seleccionado.12}}</em></h5>
                <div class="separador"><span><img class="img-fluid" src="{% static 'img/sinopsis/sinopsis.png' %}" alt="..."></span></div>
            </div>
        </div>

        <div id="tema-sinopsis">
            <div class="container">

                <div class="row"> 
                    <div class="col-md-5 col-md-offset-1">

                        <div class="works-block"> 
                            <img src="{% static 'img/'|add:libro_seleccionado.2|add:'.jpg' %}" class="img-fluid featured" alt="...">
                        </div>

                    </div> 

                    <div class="col-md-6"> 
                        <h5 class="media-heading"><strong><em> {{libro_seleccionado.6}}</em></strong></h5>
                        <hr>
                        <dl class="m-3">
                            <dt>Publicado:</dt>
                            <dd>{{libro_seleccionado.7}}</dd>
                            <dt>Autor:</dt>
                            <dd>{{libro_seleccionado.8}}</dd>
                            <dt>Genero:</dt>
                            <dd>{{libro_seleccionado.9}}</dd>
                            <dt>Editorial:</dt>
                            <dd>{{libro_seleccionado.10}}</dd>
                        </dl>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'layouts/partials/relacionados.html' %}
    {% include 'layouts/partials/opiniones.html' %}

{% endblock content %}