{% extends 'administracion/layouts/base.html' %}

{% load static %}

{% block content %}
	
<div class="main">

	<div class="book_top">

		<div class="container">

			<div class="row book_box-top">

				<h1 class="display-1"> Bienvenido</h1>
				<h2 class="display-6 text-secondary">Administración</h2>
            </div>

            <div class="card">
                <div class="card-header">Crear Persona</div>
                <div class="card-body">
                    <form action="{% url 'crear_persona' %}" method="post" novalidate>
                        {% csrf_token %}
                        {% include 'administracion/layouts/partials/form.html' %}
                    </form>
                </div>
            </div>
        </div>

{% endblock content %}