{% extends 'sesion/base.html' %}
{% block titulo %}Registrarse{% endblock titulo %}
{% block content%}


<div class="">
    {% for message in messages %}
        <div class="text-danger alert alert-{{ message.tags }}" role="alert">
            {{message}}
        </div>
    {% endfor %}
</div>
<form class="bg-dark text-success p-sm-3 p-md-5 shadow-lg rounded" method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    <h1 class="display-6 pb-md-5 pb-2 text-center text-success"> <strong> Registro</strong></h1>
    {% csrf_token %}
    {% for formulario in form %}
    <div class="form-group">
        <label style="width: 300px;" for="">{{formulario.label}}</label>
        <input 
            type="{{formulario.field.widget.input_type}}" 
            name="{{formulario.name}}" 
            id="{{formulario.name}}"
            class="form-control mb-3"
            placeholder="{{formulario.name}}"
            value="{{ formulario.value | default:'' }}"
        >
    </div>
    <div>{{formulario.errors}}</div>
    {% endfor %}
    
    <div class="row mt-3">
        <div class="col-12">
            <input type="submit" value="Registrarse" class="btn btn-success flex-x">
            <a class="link-success badge" href="{% url 'administracion_login' %}"> Ya tengo una cuenta...</a>
        </div>
    </div>
</form>
{% endblock%}